<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <title>{{aba}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMsg}}</p>

        {{> footer}}
    </body>
</html>