<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{aba}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMsg}}</p>
        <p>Vamos jogar Switch pra relaxar?</p>

        {{> footer}}
    </body>
</html>