<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>site under maintenance</p>
   
    </body>
</html>